@font-face {
  font-family: NasaWorm;
  src: url('Nasa.ttf');
}

body {
  font-family: sans-serif;
  background: black;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
  text-align: center;
  font-family: 'NasaWorm', Helvetica, sans-serif;
}

p {
  color: white;
  text-align: center;
}

.imageContainer {
  display: flex;
}

.nasaImage {
  margin: 0 auto;
  border: 2px solid white;
}

.imageDescription {
  font-family: 'Nunito', sans-serif;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}

h1 {
  padding-top: 30px;
  font-size: 35px;
}

h3 {
  padding-bottom: 15px;
  padding-top: 10px;
  font-size: 22px;
}
