body {
  font-family: sans-serif;
  background: black;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
